#Write a python program to scrap cricket rankings from ‘www.icc-cricket.com’. You have to scrap:
#i) Top 10 ODI teams.
#ii) Top 10 ODI Batsmen
#iii) Top 10 ODI bowlers

In [19]:
#Top 10 ODI teams.
from bs4 import BeautifulSoup
import requests
import re

url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

team_ranking_odi = soup.select('td span.u-hide-phablet')

team_name=[]
for index in range(0, 10):
    teams = team_name.append(team_ranking_odi[index].get_text())
    
import pandas as pd
scraped_data = pd.DataFrame({'Team Name': team_name})
scraped_data

      Team Name
0       England
1         India
2   New Zealand
3     Australia
4  South Africa
5      Pakistan
6    Bangladesh
7     Sri Lanka
8   West Indies
9   Afghanistan

In [23]:
#Top 10 ODI Batsmen
from bs4 import BeautifulSoup
import requests
import re

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

batsman_ranking_odi = soup.select('.table-body__cell.name')

batsman_name=[]
for index in range(0, 9):
    batsman = batsman_name.append(batsman_ranking_odi[index].get_text().strip())
    
import pandas as pd
scraped_data = pd.DataFrame({'ODI Batting Rankings': batsman_name})
scraped_data

  ODI Batting Rankings
0         Rohit Sharma
1           Babar Azam
2          Ross Taylor
3  Francois du Plessis
4      Kane Williamson
5          Aaron Finch
6         David Warner
7      Quinton de Kock
8       Jonny Bairstow